.bg{
    background-color: rgb(16, 196, 58);
}


.title{
    color: red;
}
.matricContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between groups */
}
.gr12{
    background-color: aqua;
    position: relative;

}