@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography + resets */
:root { color-scheme: dark; }
html, body { height: 100%; }
body { background: #0A0718; color: #eae7f5; }
a { text-decoration: none; color: inherit; }
img { display:block; max-width:100%; height:auto; }
::selection { background: #3ED3B4; color: #0A0718; }
